<header>
	<div class="wrapper_global">
		<div class="header_wrapper">
			<div class="logo">
				<img src="images/icons/logo.svg" alt="logo">
			</div>
			<div class="social">
				<a href="#"><img src="images/icons/youtube.svg" alt="youtube"></a>
				<a href="#"><img src="images/icons/vk.svg" alt="vk"></a>
				<a href="#"><img src="images/icons/facebook.svg" alt="facebook"></a>
				<a href="#"><img src="images/icons/twitter.svg" alt="twitter"></a>
				<a href="#"><img src="images/icons/twitch.svg" alt="twitch"></a>
				<a href="#"><img src="images/icons/instagram.svg" alt="instagram"></a>
			</div>
		</div>
	</div>
</header>
