//colors
$primary-yellow: #F8F200;
$primary-black: #000;
$primary-grey:   #777777;
$primary-blue:   #52BEDC;
$primary-white:   #fff;
//$red:           #AD0000;

//$neutral-1: #ECEDED;
//$neutral-2: #CFD2D4;
//$neutral-3: #B4BBBE;
//$neutral-4: #58595B;
//
//$brandeis-ash:      #8B9DA1;
//$patterson-red:     #9A1220;
//$tobacco:           #7A6C53;
//$bronze:            #CA942F;
//$light-bronze:      #F4EBDC;
//$jeffeson:          #D9C982;
//$light-jefferson:   #F8F5EA;
//$parkway:           #98BD83;
//
//
//
//=====fonts=====>>>
$roboto:   'Roboto', sans-serif;
$archangelsk:    'Archangelsk', sans-serif;
//=====fonts=====<<<
//
//
//
////breakpoints
//$max_big_laptop:	'max-width: 1919px';
//$max_laptop:		'max-width: 1550px';
//$max_mac: 	 		'max-width: 1440px';
//$max_small_laptop:  'max-width: 1280px';
//$max_tablet:		'max-width: 1024px';
//$max_phone: 		'max-width: 768px';
//$max_small_phone: 	'max-width: 576px';
//$max_old_phone: 	'max-width: 380px';
//
//
//
////mixins
//@mixin vertical-alignment {
//    top: 50%;
//    transform: translateY(-50%);
//}
//
