.form_section {
	background: #ffffff;
	background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 1) 75px, rgba(0, 0, 0, 1) calc(100% - 75px), rgba(255, 255, 255, 0) 100%);
	padding: 85px 0;
	position: relative;

	&:after,
	&:before {
		content: '';
		position: absolute;
		filter: contrast(1000%) brightness(1500%);
		background: linear-gradient(0deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)),
		url(../images/shum.svg);
		width: 100%;
		height: 70px;
	}

	&:before {
		top: 1px;
	}

	&:after {
		bottom: 0;
		transform: rotate(180deg);
	}

	.section_title {
		display: flex;
		align-items: center;

		img {
			max-width: 132px;
			margin-right: 32px;
			margin-bottom: 25px;

			@media (max-width: 425px) {
				max-width: 70px;
				margin-right: 20px;
				margin-bottom: 20px;
			}
		}

		h2 {
			color: $primary-white;
		}
	}

	p {
		font-size: 18px;
		color: $primary-white;
		max-width: 80%;
		line-height: 1.88;

		@media (max-width: 767px) {
			max-width: 100%;
		}

		@media (max-width: 575px) {
			line-height: 1.5;
		}
	}

	span {
		font-weight: bold;
		color: $primary-blue;
	}

	.form_wrapper {
		margin-top: 25px;
		display: flex;
		justify-content: space-between;
		align-items: flex-start;

		@media (max-width: 767px) {
			flex-direction: column;
		}
	}

	.form_box {
		max-width: 460px;
		width: 100%;

		@media (max-width: 767px) {
			max-width: 100%;
		}

		p {
			max-width: 100%;
		}

		input,
		textarea {
			width: 100%;
			background-color: transparent;
			padding: 13px 5px;
			border: none;
			outline: none;
			color: $primary-white;

			&::placeholder {
				font-size: 18px;
				color: $primary-white;
				line-height: 1;
			}
		}

		input {
			border-bottom: 1px solid $primary-grey;
			margin-bottom: 35px;
		}

		textarea {
			border: 1px dashed $primary-grey;
		}

		.btn_accent {
			padding: 20px 50px;
			background-color: $primary-yellow;
			color: $primary-black;
			font-size: 18px;
			font-weight: bold;
			line-height: 1.88;
			margin-top: 35px;
			margin-bottom: 15px;
			max-width: 192px;
			cursor: pointer;
			transition: opacity 3ms ease-in;

			&:hover {
				opacity: .7;
			}
		}

		.wpcf7-list-item.first.last {
			margin: 0;

			label {
				display: flex;
				align-items: center;
				margin-left: 10px;

				input[type="checkbox"] {
					width: 14px;
					height: 14px;
					margin: 0 10px 0 0;
					visibility: hidden;
				}
			}
		}

		.wpcf7-checkbox input[type=checkbox] + span:before {
			display: block;
			position: absolute;
			content: '';
			border-radius: 0;
			height: 16px;
			width: 16px;
			top: 1px;
			left: 1px;
			border: 1px solid $primary-grey;
		}

		.wpcf7-checkbox input[type=checkbox] + span:after {
			display: block;
			position: absolute;
			visibility: hidden;
			font-size: 18px;
			text-align: center;
			line-height: 30px;
			left: 7px;
			top: 3px;
			width: 5px;
			height: 10px;
			border: solid $primary-yellow;
			border-width: 0 1px 1px 0;
			transform: rotate(45deg);
		}

		.wpcf7-checkbox input[type=checkbox]:checked + span:before {
			background: transparent;
		}

		.wpcf7-checkbox input[type=checkbox]:checked + span:after {
			visibility: visible;
		}

		.wpcf7-not-valid-tip,
		.wpcf7-spinner{
			display: none;
		}

		.wpcf7-response-output{
			color: $primary-white;
		}
	}
}


